include AUTHORS.md
include CHANGELOG.md
include LICENSE
include README.md
recursive-include django_recaptcha/static *
recursive-include django_recaptcha/templates *
recursive-include django_recaptcha/locale *.mo *.po
