{# The provided implementation caters for only one reCAPTCHA on a page. Override this template and its logic as needed. #}
<script src="https://{{ recaptcha_domain }}/recaptcha/api.js?render={{ public_key }}{% if api_params %}&{{ api_params }}{% endif %}"></script>
<script type="text/javascript">
    var i = 0;
    var widgetUUIDs = []
    function updateCaptcha(widgetUUID) {
        if (widgetUUID === undefined) {
            j = i % widgetUUIDs.length;
            var widgetUUID = widgetUUIDs[j];
        } else {
            widgetUUIDs.push(widgetUUID);
        }
        i++;
        grecaptcha.execute('{{ public_key }}', {action: 'form'})
        .then(function(token) {
            console.log("reCAPTCHA validated for 'data-widget-uuid=" + widgetUUID + "'. Setting input value...")
            var element = document.querySelector('.g-recaptcha[data-widget-uuid="' + widgetUUID + '"]');
            element.value = token;
        });
    }
    grecaptcha.ready(function() {
        updateCaptcha("{{ widget_uuid }}");
        var int_{{ widget_uuid }} = setInterval(function(){updateCaptcha("{{ widget_uuid }}")}, 110000);
    });
</script>
